# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

.DS_Store
dont_push/
__pycache__/


build/
build 

python/
.vscode/
docs/
whatever.txt
real_CMakeLists.txt
log.txt
log_perf.txt
Kconfig
sdk.config
test_input.hex
main_vq.c
main_vq_myinput.c
inputs.h
input_v1.h
input_mymodel.h
gaptest.yml
err_log.txt
codebook.h
codebooks_mymodel.h
CMakeLists_testownbook.txt
arrays.c
test_input.h
trained_codebook.h
